<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who we are</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <a href="/">Home</a>
    <header>
        <h1> <a href="https://registrar-prod.unet.brandeis.edu/registrar/schedule/course?acad_year=2025&crse_id=004423&strm=1243&class_section=1">
        FIN 285A - Computer Simulation & Risk Assesment.</a> </h1>
    </header>
    
    <main>
        <article>
            <h2>Who we are</h2>
            <p>We are two students learning quantitative financial applications. This course is led by 
                <a href="https://scholarworks.brandeis.edu/esploro/profile/ying_becker/overview">Dr. Y. Becker</a>
                in the fall of 2024 at Brandeis International Business School.
            </p>
        </article>
    </main>
    
    <footer>
        <a href="https://discover.brandeis.edu/business/">please reach out to the Brandeis Intl. B. School community if you are interested in learning more!</a>
    </footer>
</body>
</html>